
    .center {
        text-align: center;
    }

    ion-label {
        color: darkgray;
    }

    ion-content {
        background-color: #ECECEC;
    }

    .note {
        color: grey;
    }

    .result {
        color: brown;
        font-size: 20px;
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @-moz-keyframes spin {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        }
    }
